.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.parent a {
  text-decoration: none;
  color: inherit;
}

.card {
  font-family: inherit;
  width: 250px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: 1px solid #db6400;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(98, 98, 98, 0.25);
  transition: background-color 0.4s;
}

.card:hover {
  background-color: #db6400;
  color: #5EAAA8;
}

.parent h3 {
  font-weight: 300;
}